<template>
  <v-container fluid>
    <StateCard
      :loading="stateLoading"
      @on-request-refresh="() => {this.onRequestRefresh()}"
    />
    <ControlCard/>
    <HistoryCard
      v-if="isUserRole"
      :loading="historyLoading"
      :historyMax="20"
      @onHistoryClear="() => { this.onHistoryClear(); }"
    />
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import StateCard from '@/components/StateCard.vue';
import ControlCard from '@/components/ControlCard.vue';
import HistoryCard from '@/components/HistoryCard.vue';
import GateApi from '@/api/api.ts';

// import { Socket } from 'vue-socket.io-extended'

@Component({
  components: {
    StateCard,
    ControlCard,
    HistoryCard,
  },
})
export default class Home extends Vue {
  private readonly refreshPeriod: number = 5000;
  private gateClient: GateApi = new GateApi();

  private stateLoading: boolean = false;
  private historyLoading: boolean = false;

  private async created() {
    this.updateState();
    (this as any).$socket.$subscribe('connect', (payload: any) => {
      console.log('connection established');
    });
    (this as any).$socket.$subscribe('stateChange', (payload: String) => {
      console.log('state change to ' + payload);
      (this as any).$store.commit('setLatestState', payload);
      (this as any).$store.dispatch('loadStateHistory', this.gateClient);
    });
  }


  // @Socket() 
  // private connect() {
  //   console.log('connection established');
  // }

  // @Socket('stateChange')
  // private stateChange(payload: any) {
  //   console.log('state change to ' + payload);
  //   this.updateState();
  // }

  public async updateState() {
    this.stateLoading = true;
    await (this as any).$store.dispatch('loadApiConfig', this.gateClient);
    await (this as any).$store.dispatch('loadCurrentState', this.gateClient);
    this.stateLoading = false;

    this.historyLoading = true;
    await (this as any).$store.dispatch('loadStateHistory', this.gateClient);
    await (this as any).$store.dispatch('loadRequestHistory', this.gateClient);
    this.historyLoading = false;
  }

  public async onHistoryClear() {
    this.gateClient.deleteStateHistory();
    this.updateState();
  }

  public async onRequestRefresh() {
    await this.updateState();
  }
  
  private get isUserRole() {
    return (this as any).$store.getters.isUserRole || (this as any).$store.getters.isAdminRole;
  }
}
</script>
