<template>
  <div>
    <PowerSettingsCard v-if="isAdminRole"/>

    <UserSettingsCard />

    <ProfileSettingsCard />


    <PollingCard></PollingCard>

    <LogsCard />
    
    <DebugCard />
  </div>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import PowerSettingsCard from '../components/PowerSettingsCard.vue';
import UserSettingsCard from '../components/UserSettingsCard.vue';
import ProfileSettingsCard from '../components/ProfileSettingsCard.vue';
import DebugCard from '@/components/DebugCard.vue';
import PollingCard from '@/components/PollingCard.vue'
import LogsCard from '@/components/LogsCard.vue';

@Component({
  components: {
    PowerSettingsCard,
    UserSettingsCard,
    ProfileSettingsCard,
    DebugCard,
    PollingCard,
    LogsCard,
  },
})
export default class Settings extends Vue {

  private get isAdminRole() {
    return (this as any).$store.getters.isAdminRole;
  }
}
</script>