<template>
  <div>
    <v-dialog
      v-model="show_dialog"
      width="500"
      :fullscreen="$vuetify.breakpoint.mobile"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-list-item-group>
          <v-list-item v-bind="attrs" v-on="on">
            <v-list-item-icon>
              <v-icon color="blue" class="text-h3 text-sm-h4 text-md-h4"
                >mdi-plus</v-icon
              >
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="text-h5 text-md-h5 text-lg-button"
                >Add User</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </template>

      <v-card>
        <v-toolbar dark color="primary">
          <v-toolbar-title>Add User</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon dark @click="show_dialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-form @submit.prevent="submit" class="mx-5">
          <v-text-field
            autofocus
            class="mt-3"
            required
            v-model="username"
            @change="show_error = false"
            label="Username"
          >
          </v-text-field>

          <v-select
            class="mt-3"
            required
            :items="roles"
            v-model="role"
            label="Role"
          ></v-select>

          <v-container fluid class="ma-0 pa-0">
            <v-row>
              <v-col cols="12" md="4">
                <v-menu
                  v-model="show_expiration_date_picker"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="expirationDate"
                      label="Expiration date"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="expirationDate"
                    :min="minExpirationDate"
                    no-title
                    scrollable
                  >
                    <v-spacer></v-spacer>
                    <v-btn
                      text
                      color="primary"
                      @click="show_expiration_date_picker = false"
                      :disabled="expirationDate == null"
                      >OK</v-btn
                    >
                  </v-date-picker>
                </v-menu>
              </v-col>

              <v-col cols="12" md="4">
                <v-menu
                  v-model="show_expiration_time_picker"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      :value="getFormattedExpirationTime()"
                      label="Expiration Time"
                      prepend-icon="mdi-clock"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      :disabled="expirationDate == null"
                    ></v-text-field>
                  </template>
                  <v-time-picker v-model="expirationTime">
                    <v-btn
                      text
                      color="warning"
                      @click="
                        show_expiration_time_picker = false;
                        expirationTime = null;
                      "
                      >Clear</v-btn
                    >
                    <v-spacer></v-spacer>
                    <v-btn
                      text
                      color="primary"
                      @click="show_expiration_time_picker = false"
                      :disabled="expirationTime === null"
                      >OK</v-btn
                    >
                  </v-time-picker>
                </v-menu>
              </v-col>

              <v-col cols="12" md="4">
                <v-btn
                  color="warning"
                  v-if="expirationDate !== null"
                  @click="
                    show_expiration_time_picker = false;
                    expirationDate = null;
                    expirationTime = null;
                  "
                  >Clear</v-btn
                >
              </v-col>
            </v-row>
          </v-container>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              type="submit"
              large
              :x-large="$vuetify.breakpoint.mobile"
              :disabled="!formValid()"
              color="primary white--text"
              >Create</v-btn
            >
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { Watch, Component, Prop, Vue } from "vue-property-decorator";
import UserModel from "@/api/UserModel";

@Component({
  components: {},
})
export default class AddUserDialog extends Vue {
  private show_dialog: boolean = false;
  private show_password: boolean = false;
  private show_error: boolean = false;
  private show_expiration_date_picker: boolean = false;
  private show_expiration_time_picker: boolean = false;

  private username: string = "";
  private role: string = "";
  private expirationDate: Date | null = null;
  private expirationTime: string | null = null;

  private readonly roles: string[] = ["admin", "user", "guest"];

  private mounted() {}

  private formValid() {
    return this.username !== "" && this.role !== "";
  }

  private clear() {
    this.username = "";
    this.role = "";
    this.expirationDate = null;
    this.expirationTime = null;
  }

  private async submit(event: any) {
    let expiration = null;
    if (this.expirationDate) {
      expiration = new Date(this.expirationDate);
      if (this.expirationTime) {
        expiration.setHours(parseInt(this.expirationTime.split(':')[0]));
        expiration.setMinutes(parseInt(this.expirationTime.split(':')[1]));
        expiration.setSeconds(0);
      }
    }

    let newUser = new UserModel(this.username, this.role, expiration);
    this.$emit("createUser", newUser);
    this.show_dialog = false;
    this.clear();
  }

  private getFormattedExpirationTime() {
    if (this.expirationTime == null) return null;

    let hours = parseInt(this.expirationTime.split(":")[0]);
    let minutes = parseInt(this.expirationTime.split(":")[1]);

    let hoursF = hours == 0 ? "12" : hours > 12 ? hours - 12 : hours;
    let minutesF = (minutes < 10 ? "0" : "") + minutes;
    let ampm = hours < 12 ? "AM" : "PM";
    let formattedTime = hoursF + ":" + minutesF + " " + ampm;
    return formattedTime;
  }

  @Watch("show_dialog")
  private changed(value: boolean) {
    if (value == false) {
      this.clear();
    }
  }

  private get minExpirationDate() {
    let yourDate = new Date();

    const offset = yourDate.getTimezoneOffset();
    yourDate = new Date(yourDate.getTime() - offset * 60 * 1000);
    return yourDate.toISOString().split("T")[0];
  }
}
</script>
