<template>
    <v-card elevation="2" class="pa-2 flex">
      <v-card-text class="pa-1 mb-0 pb-0">
        <v-container class="pb-0 pt-1">
          UI scale {{ debug_breakpoint }}
          <br />
          UI Version {{ ui_version }}
          <br />
          API Version {{ api_version }}
        </v-container>
      </v-card-text>
    </v-card>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { uiVersion } from '@/app.config';

@Component({
  components: {
  },
})
export default class AppInfoCard extends Vue {
  private mounted() {
  }

  private get debug_breakpoint() {
    return this.$vuetify.breakpoint.name;
  }

  private get ui_version(): string {
    return uiVersion;
  }

  private get api_version(): string {
    return this.$store.state.apiConfig.version;
  }
}
</script>
