<template>
  <v-list-item :key="this.item.systemConfigurationType" three-line>
    <v-list-item-content>
      <v-list-item-title class="text-md-h4">{{
        this.item.systemConfigurationType
      }}</v-list-item-title>
      <v-list-item-subtitle class="text-md-h6">{{
        this.item.description
      }}</v-list-item-subtitle>
      <div v-if="!editing">
        <v-list-item-title class="text-md-h6">{{ this.item.value }}</v-list-item-title>
      </div>
      <div v-else>
        <v-text-field v-model="newValue"></v-text-field>
      </div>
    </v-list-item-content>
    <v-list-item-action>
      <v-btn v-if="!editing" icon @click="editing = true">
        <v-icon class="text-h3 text-sm-h4 text-md-h4"> mdi-pencil </v-icon>
      </v-btn>
      <v-btn v-else-if="changed" icon @click="saveItem" color="blue">
        <v-icon class="text-h3 text-sm-h4 text-md-h4"> mdi-content-save </v-icon>
      </v-btn>
      <v-btn v-else icon @click="resetItem">
        <v-icon class="text-h3 text-sm-h4 text-md-h4"> mdi-close </v-icon>
      </v-btn>
    </v-list-item-action>
  </v-list-item>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import dateformat from "dateformat";
import SystemConfigurationModel from "@/api/SystemConfigurationModel";

@Component
export default class ConfigurationItem extends Vue {
  @Prop({ required: true }) public readonly item!: SystemConfigurationModel;

  private editing: boolean = false;
  private newValue: any = this.item.value;

  public name() {
    return this.item.systemConfigurationType;
  }

  public value() {
    return this.item.value;
  }

  public get changed() {
    return this.item.value != this.newValue;
  }

  private dateCreated() {
    return dateformat(this.item.dateCreated, "mmm dd");
  }

  private saveItem() {
    this.item.value = this.newValue;
    this.editing = false;
    this.$emit("saveItem", this.item);
  }

  public resetItem() {
    this.newValue = this.item.value;
    this.editing = false;
  }
}
</script>
