<template>
  <v-col sm="12" md="12" lg="4" class="pa-1">
    <v-btn
      block
      x-large
      elevation="4"
      :color="color"
      class="white--text"
      :loading="loading"
      :disabled="loading"
      v-on:click="onClick"
      >{{ text }}</v-btn
    >
  </v-col>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class ControlButton extends Vue {
  @Prop({ required: true, default: "" }) color!: string;
  @Prop({ required: true, default: "" }) text!: string;
  @Prop({ required: true, default: false }) loading!: boolean;

  public async onClick() {
    this.$emit("clicked");
  }
}
</script>
