<template>
  <v-container class="pb-0 pt-1">
    <v-card elevation="2">
      <v-row class="text-right ma-0">
        <v-col class="pa-1">
          <v-btn class="mx-2" fab small :color="toggleSilent ? 'secondary' : 'primary'" @click="toggleSilent = !toggleSilent">
            <v-icon v-if="toggleSilent">mdi-volume-off</v-icon>
            <v-icon v-else>mdi-volume-high</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-row class="text-center ma-0">
        <ControlButton text="Open" color="green darken-2" @clicked="onOpen" :loading="loadingOpen" />
        <ControlButton text="Stop" color="orange darken-2" @clicked="onStop" :loading="loadingStop" />
        <ControlButton text="Close" color="red darken-2" @clicked="onClose" :loading="loadingClose" />
      </v-row>
      <v-row v-if="isUserRole" class="text-center ma-0">
        <ControlButton text="Cycle 30 sec" color="blue darken-1" @clicked="onCycle(30)" :loading="loadingCycle30" />
        <ControlButton text="Cycle 2 min" color="blue darken-3" @clicked="onCycle(120)" :loading="loadingCycle120" />
      </v-row>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import GateApi from "@/api/api";
import ControlButton from "@/components/ControlButton.vue";

@Component({
  components: { ControlButton },
})
export default class ControlCard extends Vue {
  private gateClient: GateApi = new GateApi();

  private loadingOpen: boolean = false;
  private loadingStop: boolean = false;
  private loadingClose: boolean = false;
  private loadingCycle30: boolean = false;
  private loadingCycle120: boolean = false;

  public toggleSilent: boolean = false;

  public async onOpen() {
    this.loadingOpen = true;
    let result = await (this as any).$store.dispatch("openGate", { api: this.gateClient, silent: this.toggleSilent });
    this.$emit("on-request-refresh");
    this.loadingOpen = false;
  }

  public async onStop() {
    this.loadingStop = true;
    await (this as any).$store.dispatch("stopGate", this.gateClient);
    this.$emit("on-request-refresh");
    this.loadingStop = false;
  }

  public async onClose() {
    this.loadingClose = true;
    await (this as any).$store.dispatch("closeGate", { api: this.gateClient, silent: this.toggleSilent });
    this.$emit("on-request-refresh");
    this.loadingClose = false;
  }

  public async onCycle(duration: number) {
    switch (duration) {
      case 30:
        this.loadingCycle30 = true;
        break;
      case 120:
        this.loadingCycle120 = true;
        break;
    }

    await (this as any).$store.dispatch("cycleGate", { api: this.gateClient, duration });
    this.$emit("on-request-refresh");

    switch (duration) {
      case 30:
        this.loadingCycle30 = false;
        break;
      case 120:
        this.loadingCycle120 = false;
        break;
    }
  }

  private get isUserRole() {
    return (this as any).$store.getters.isUserRole || (this as any).$store.getters.isAdminRole;
  }
}
</script>
