<template>
  <v-container fluid>
    <v-card
      elevation="2"
      class="pa-1"
      :max-width="$vuetify.breakpoint.mdAndDown ? null : 500"
    >
      <v-card-title>
        <span class="font-weight-medium text-h4 text-sm-h2 text-md-h2"
          >Debug (danger!)</span
        >
      </v-card-title>
      <v-card-text class="mb-0">
        <v-row>
          <v-col class="pa-auto" cols="6">
            <v-text-field
              v-model="databaseVersion"
              label="Database Version"
              hint="THIS CAN DESTROY ALL THE DATA"
            ></v-text-field>
          </v-col>
          <v-col>
            <v-btn class="red white--text" @click="setDatabaseVersion()"> Set </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-card-subtitle>
            <span class="font-weight-medium text-h4 text-sm-h5 text-md-h5"
              >System Configuration</span
            >
          </v-card-subtitle>
          <v-list>
            <v-card v-for="(config, i) in configurations" :key="i" class="mt-2">
              <ConfigurationItem :item="config" @saveItem="saveConfiguration($event)" />
            </v-card>
          </v-list>
        </v-row>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import GateApi from "@/api/api";
import { Component, Vue, Prop } from "vue-property-decorator";
import ConfigurationItem from "@/components/ConfigurationItem.vue";
import SystemConfigurationModel from "@/api/SystemConfigurationModel";

@Component({
  components: { ConfigurationItem },
})
export default class DebugCard extends Vue {
  private gateClient: GateApi = new GateApi();

  public databaseVersion: number | null = null;

  private async mounted() {
    this.getDatabaseVersion();
    await (this as any).$store.dispatch("loadSystemConfiguration", this.gateClient);
  }

  public async getDatabaseVersion() {
    this.databaseVersion = await this.gateClient.metaGetDatabaseVersion();
  }

  public async setDatabaseVersion() {
    if (this.databaseVersion) {
      await this.gateClient.metaSetDatabaseVersion(this.databaseVersion);
    }
  }

  public async saveConfiguration(configuration: SystemConfigurationModel) {
    await this.gateClient.saveSystemConfiguration(configuration);
    await (this as any).$store.dispatch("loadSystemConfiguration", this.gateClient);
  }

  private async deleteConfiguration(configuration: SystemConfigurationModel) {
    await this.gateClient.deleteSystemConfiguration(configuration);
    await (this as any).$store.dispatch("loadSystemConfiguration", this.gateClient);
  }

  public get configurations(): SystemConfigurationModel[] {
    let configurations: SystemConfigurationModel[] = (this as any).$store.state
      .systemConfigurations;
    configurations.sort((a, b) =>
      a.systemConfigurationType > b.systemConfigurationType ? 1 : -1
    );
    return configurations;
  }
}
</script>
