<template>
  <div class="alerts mt-2 mr-2">
    <v-alert
      v-for="(item, i) in recentErrors"
      border="top"
      color="red"
      dark
    >
      {{item.message}}
    </v-alert>
  </div>
</template>
<style scoped>
  .alerts {
    position: fixed;
    z-index: 1000;
    right: 0px;
    bottom: 0px;
  }
</style>
<script lang="ts">
import AppError from "@/api/AppError";
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class ErrorsPopup extends Vue {
  private interval: any = null;

  public recentErrors: AppError[] = [];

  private mounted() {
    this.interval = setInterval(() => {
      this.getRecentErrors();
    }, 100);
  }

  private destroyed() {
    clearInterval(this.interval);
  }

  public getRecentErrors() {
    this.recentErrors = (this as any).$store.state.errors
      .filter((e: AppError) => Math.abs(new Date().getTime() - e.timestamp.getTime())/1000 < 2);
  }
}
</script>
  