<template>
  <div>
    <v-chip v-if="errorCount > 0" color="red" outlined
      @click="showDialog = !showDialog">
      <v-icon left>
        mdi-alert-circle
      </v-icon>
      {{ errorCount }} Errors
    </v-chip>
    <v-dialog v-model="showDialog">
      <v-card>
        <v-card-title class="red--text">
          Errors
        </v-card-title>
        <v-list>
          <v-list-item v-for="(item, i) in errors()" :key="i">
            <v-list-item-content>
              <v-list-item-title>{{ formatTime(item.timestamp) }} - {{ item.message }}</v-list-item-title>
              <v-list-item-subtitle>{{ item.inner }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card>
    </v-dialog>
  </div>
</template>
  
<script lang="ts">
import AppError from "@/api/AppError";
import { Component, Vue, Prop } from "vue-property-decorator";
import { VCard, VCardTitle, VList, VListItem, VListItemContent, VListItemTitle } from "vuetify/lib";
import TimeHelpers from "@/helpers/timeHelpers";

@Component
export default class ErrorsDialog extends Vue {
  public showDialog = false;

  public get errorCount(): number {
    return (this as any).$store.getters.getErrorCount;
  }

  public errors(): AppError[] {
    return [...(this as any).$store.state.errors].sort((a: AppError, b: AppError) => a.timestamp.getMilliseconds() - b.timestamp.getMilliseconds());
  }

  public formatTime(timestamp: Date) {
    return TimeHelpers.buildLastUpdatedText(timestamp);
  }
}
</script>
  