<template>
  <v-container class="pb-0 pt-1">
    <v-card elevation="2" class="pa-2">
      <v-progress-linear v-if="loading" indeterminate height="10" />
      <v-card-title class="pt-1">
        <span class="font-weight-medium text-h5 text-sm-h2 text-md-h2">History</span>
        <v-spacer />
        <v-tooltip left v-if="sortedStates.length != 0">
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon color="grey darken-2" v-on:click="$emit('onHistoryClear')">
              <v-icon class="text-h4 text-md-h3">mdi-eraser</v-icon>
            </v-btn>
          </template>
          <span>Erase history</span>
        </v-tooltip>
      </v-card-title>
      <v-card-text class="mb-0 pb-0">
        <div v-if="filteredStates">
          <v-expansion-panels multiple>
            <HistoryItem v-for="(historyItem, i) in filteredStates" :key="i" :item="historyItem" />
          </v-expansion-panels>
          <div class="mt-3 mr-1">
            <span v-if="sortedStates.length == 0" class="font-italic text-h5 d-flex justify-start">
              None
            </span>
            <span v-else class="font-italic text-caption d-flex justify-end">
              History is deleted after 7 days
            </span>
          </div>
        </div>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import HistoryItem from "@/components/HistoryItem.vue";
import StateHistoryItem from "@/api/StateHistoryItem";
import RequestHistoryItem from "@/api/RequestHistoryItem";
import EventHistoryItem from "@/models/EventHistoryItem";

@Component({
  components: {
    HistoryItem,
  },
})
export default class HistoryCard extends Vue {
  @Prop({ required: true }) public readonly loading!: boolean;
  @Prop({ required: true }) public readonly historyMax!: number;

  private sortedStates: EventHistoryItem[] = [];
  private filteredStates: EventHistoryItem[] = [];

  private interval: any = null;

  private mounted() {
    this.interval = setInterval(() => {
      this.calcStates();
    }, 1000);
  }

  private destroyed() {
    clearInterval(this.interval);
  }

  public stateHistory(): EventHistoryItem[] {
    let stateHistory: StateHistoryItem[] = (this as any).$store.state
      .stateHistory;
    return stateHistory.map((h) => EventHistoryItem.buildFromStateItem(h));
  }

  public requestHistory(): EventHistoryItem[] {
    let requestHistory: RequestHistoryItem[] = (this as any).$store.state
      .requestHistory;
    return requestHistory.map((h) => EventHistoryItem.buildFromRequestItem(h));
  }

  public calcStates() {
    let sortedStates: EventHistoryItem[] = [];
    sortedStates.push(...this.stateHistory());
    sortedStates.push(...this.requestHistory());

    this.sortedStates = sortedStates.sort(
      (a, b) => b.date.getTime() - a.date.getTime()
    );

    this.filteredStates = this.sortedStates.slice(0, this.historyMax);
  }
}
</script>
