<template>
  <v-expansion-panel class="ma-0" :class="textColor">
    <v-expansion-panel-header class="text-body-1 text-sm-h5 text-md-h4 text-lg-h5">
      <div>
        <v-row>
          <v-col v-if="isPending">
            <v-progress-circular 
            indeterminate
            class="justify-start"
            :color="textColor"
            ></v-progress-circular>
          </v-col>
          <v-col cols="11">
            <span v-if="isPending">
              {{item.message}}
            </span>
            <span v-else>
              {{buildLastUpdatedText()}} - {{item.message}}
            </span>
          </v-col>
        </v-row>
        <v-row v-if="!item.success" class="text-body-2 text-sm-h5 text-md-h5 text-lg-h5 ml-1">
          {{item.error}}
        </v-row>
      </div>
    </v-expansion-panel-header>
    <v-expansion-panel-content class="font-italic text-sm-subtitle-2 text-md-h5 text-lg-h6">
      {{buildFullDate()}}
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import dateformat from "dateformat"
import TimeHelpers from "@/helpers/timeHelpers";
import EventHistoryItem from "@/models/EventHistoryItem";

@Component
export default class HistoryItem extends Vue {
  @Prop({required: true}) public readonly item!: EventHistoryItem;

  public get isPending(): boolean {
    return this.item.id == -1;
  }
  public get textColor(): string {
    if (this.isPending) return 'blue--text'
    if (!this.item.success) return 'red--text'
    return ''
  }

  private buildLastUpdatedText() {
    return TimeHelpers.buildLastUpdatedText(this.item.date);
  }

  private buildFullDate() {
    return dateformat(this.item.date, "dddd, mmmm, dS, yyyy, h:MM:ss TT");
  }
}
</script>
