<template>
  <div>
    <v-dialog v-model="show_dialog" persistent width="500" :fullscreen="isFullscreen">
      <v-card>
        <v-toolbar dark color="primary">
          <v-toolbar-title>Login</v-toolbar-title>
        </v-toolbar>

        <v-form @submit.prevent="submit">
          <v-text-field autofocus prepend-icon="mdi-account" class="mt-3 mx-5" required :disabled="loading"
            v-model="username" label="Username">
          </v-text-field>

          <v-text-field class="mt-3 mx-5" required prepend-icon="mdi-lock" :disabled="loading" v-model="password"
            :type="show_password ? 'text' : 'password'" :error="show_error" :error-messages="
              show_error ? error_desc : ''
            " @change="show_error = false" label="Password">
          </v-text-field>

          <v-card-actions class="mx-5">
            <v-checkbox v-model="show_password" label="Show Password" />
            <v-spacer></v-spacer>
            <v-btn type="submit" color="primary white--text" large :x-large="$vuetify.breakpoint.mobile"
              :disabled="loginDisabled" :loading="loading">Login</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>
<style scoped>
.v-text-field input {
  font-size: 12em;
}

.v-input .v-label {
  font-size: 20em;
}
</style>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import GateApi from "@/api/api.ts";

@Component({
  components: {},
})
export default class LoginDialog extends Vue {
  private gateClient: GateApi = new GateApi();
  private loading: boolean = false;
  private show_password: boolean = false;
  private show_error: boolean = false;
  private error_desc: string = '';

  private show_dialog: boolean = true;

  private username: string = "";
  private password: string = "";

  private mounted() { }

  private get isNotLoggedIn() {
    return (this as any).$store.state.loggedInUser == null;
  }

  private get loginDisabled() {
    return this.username == "" || this.password == "" || this.loading;
  }

  private get isFullscreen() {
    return this.$vuetify.breakpoint.mobile || false;
  }

  private async submit(event: any) {
    this.loading = true;
    await (this as any).$store
      .dispatch("login", {
        api: this.gateClient,
        username: this.username,
        password: this.password,
      })
      .then((response: any) => {
        this.username = "";
        this.password = "";
        this.$emit("loggedin");
      })
      .catch((err: any) => {
        this.show_error = true;
        this.error_desc = err.response && err.response.data ? err.response.data : "An unexpected error occurred";
      });

    this.loading = false;
  }

  @Watch("isNotLoggedIn")
  private changed(value: boolean) {
    this.show_dialog = value;
  }

}
</script>
