<template>
  <v-container fluid>
    <v-card elevation="2" class="pa-2">
      <v-card-title class="pt-1">
        <span class="font-weight-medium text-h4 text-sm-h2 text-md-h2">Logs</span>
        <v-spacer />
        <v-tooltip left>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon color="grey darken-2" class="mr-6" v-on:click="downloadLogs">
              <v-icon class="text-h4 text-md-h3">mdi-download</v-icon>
            </v-btn>
          </template>
          <span>Download</span>
        </v-tooltip>
        <v-tooltip left>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon color="grey darken-2" v-on:click="getLogs">
              <v-icon class="text-h4 text-md-h3">mdi-refresh</v-icon>
            </v-btn>
          </template>
          <span>Refresh</span>
        </v-tooltip>
      </v-card-title>
      <v-card-text class="mb-0 pb-0">
        <v-data-table
          v-if="loaded"
          :headers="logHeaders"
          :items="delimitedLogs"
          :items-per-page="30"
          :sort-desc="true"
          sort-by="date"
          class="elevation-1"
        ></v-data-table>
        <div v-else>
          <v-col class="d-flex align-center justify-center">
            <span class="font-italic text-h5 text-sm-h5"> No data </span>
          </v-col>
        </div>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import GateApi from "@/api/api";

@Component({
  components: {},
})
export default class LogsCard extends Vue {
  private gateClient: GateApi = new GateApi();

  public loaded = false;
  public blob: Blob | undefined = undefined;
  public logs: string = "";

  public logHeaders = [{ text: "Date", value: "date" }, { text: "Level", value: "level" }, { text: "Log", value: "log" }];

  public async getLogs() {
    let data = await this.gateClient.metaLogs();
    if (data != null) {
      this.loaded = true;
      this.blob = data;
      this.logs = await data.text();
    }
  }

  public get delimitedLogs() {
    if (this.logs) {
      return this.logs.split("\n").map((log: string) => this.mapLog(log));
    }
    return [];
  }

  public mapLog(log: string) {
    let a = log.indexOf(']');
    let date = log.substring(1, a);

    let b = log.substring(a+2)
    let c = b.indexOf(' ');
    let d = b.substring(c+1);

    let e = d.indexOf(' ');

    let level = d.substring(0, e);

    let message = d.substring(e+1);

    return {
      date: date,
      level: level,
      log: message,
    };
  }

  public downloadLogs() {
    if (this.blob) {
      const url = window.URL.createObjectURL(this.blob);
      const link = document.createElement('a');
      link.href = url;
      link.setAttribute('download', 'gateBaseStation.log'); //or any other extension
      document.body.appendChild(link);
      link.click();
    }
  }
}
</script>
