<template>
  <v-container fluid>
    <v-card elevation="2" class="pt-2">
      <v-card-title class="pt-1">
        <span class="font-weight-medium text-h4 text-sm-h2 text-md-h2">Polling</span>
        <v-spacer />
        <v-card class="mx-4" :disabled="loading" v-if="pollingEnabled">
          <v-list>
            <ConfigurationItem
              :item="pollingIntervalConfig"
              @saveItem="setPollingInterval($event)"
            />
          </v-list>
        </v-card>
        <v-tooltip left>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon v-on:click="togglePollingEnabled" :disabled="loading">
              <v-icon class="text-h4 text-md-h3">{{
                pollingEnabled ? "mdi-pause" : "mdi-play"
              }}</v-icon>
            </v-btn>
          </template>
          <span>{{ pollingEnabled ? "stop polling" : "start polling" }}</span>
        </v-tooltip>
      </v-card-title>
      <v-card-subtitle v-if="pollingEnabled" class="pt-1">
        Polls radio every {{ pollingInterval }} seconds
      </v-card-subtitle>

      <v-card-text>
        <div v-if="pollingEnabled">
          <v-sheet color="rgba(0, 0, 0, .12)">
            <apexchart
              type="line"
              height="350"
              :options="chartOptions_rssi"
              :series="seriesData_rssi"
            ></apexchart>
          </v-sheet>
          <v-sheet color="rgba(0, 0, 0, .12)" class="mt-4">
            <apexchart
              type="line"
              height="350"
              :options="chartOptions_success"
              :series="seriesData_success"
            ></apexchart>
          </v-sheet>
        </div>

        <div v-else>
          <v-col class="d-flex align-center justify-center">
            <span class="font-italic text-h5 text-sm-h5"> Polling is disabled </span>
          </v-col>
        </div>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import PollingHistoryItem from "@/api/PollingHistoryItem";
import ConfigurationItem from "@/components/ConfigurationItem.vue";
import GateApi from "@/api/api";
import SystemConfigurationModel from "@/api/SystemConfigurationModel";

@Component({
  components: { ConfigurationItem },
})
export default class PollingCard extends Vue {
  private gateClient: GateApi = new GateApi();
  public loading = false;
  public dataCount = 20;
  private interval: any;

  public get pollingHistory(): PollingHistoryItem[] {
    return (this as any).$store.state.pollingHistory;
  }

  public get pollingEnabledConfig(): SystemConfigurationModel | null {
    return (this as any).$store.getters.getPollingEnabled;
  }

  public get pollingIntervalConfig(): SystemConfigurationModel | null {
    return (this as any).$store.getters.getPollingInterval;
  }

  public get pollingInterval(): number {
    if (this.pollingIntervalConfig && this.pollingIntervalConfig.value) {
      return parseInt(this.pollingIntervalConfig.value, 10);
    }

    return 0;
  }

  public get pollingEnabled() {
    if (this.pollingEnabledConfig) {
      return this.pollingEnabledConfig.value?.toLowerCase() == "true";
    }

    return false;
  }

  public beforeDestroy() {
    clearInterval(this.interval);
    this.interval = null;
  }

  @Watch("pollingEnabled")
  private pollingToggled() {
    if (this.pollingEnabled && !this.interval) {
      clearInterval(this.interval);
      this.interval = setInterval(
        this.refreshPollingHistory,
        this.pollingInterval * 1000
      );
    } else if (!this.pollingEnabled && this.interval) {
      clearInterval(this.interval);
    }
  }

  @Watch("pollingInterval")
  private pollingIntervalChanged() {
    if (this.pollingEnabled) {
      clearInterval(this.interval);
      this.interval = setInterval(
        this.refreshPollingHistory,
        this.pollingInterval * 1000
      );
    }
  }

  public async refreshPollingHistory() {
    await (this as any).$store.dispatch("loadPollingHistory", this.gateClient);
  }

  public async togglePollingEnabled() {
    if (this.pollingEnabledConfig) {
      this.loading = true;
      this.pollingEnabledConfig.value = this.pollingEnabledConfig.value?.toLowerCase() == "true" ? "false" : "true";
      await this.gateClient.saveSystemConfiguration(this.pollingEnabledConfig);
      this.loading = false;
    }
  }

  public async setPollingInterval(value: any) {
    if (this.pollingIntervalConfig) {
      this.loading = true;
      await this.gateClient.saveSystemConfiguration(value);
      this.loading = false;
    }
  }

  public chartOptions_rssi = {
    chart: {
      zoom: {
        enabled: false,
      },
    },
    dataLabels: {
      enabled: true,
    },
    stroke: {
      curve: "straight",
    },
    title: {
      text: "Signal Strength (dBm)",
      align: "left",
    },
    grid: {
      row: {
        colors: ["#f3f3f3", "transparent"], // takes an array which will be repeated on columns
        opacity: 0.5,
      },
    },
    xaxis: {
      categories: Array.from(Array(this.dataCount).keys()).reverse(),
      labels: {
        formatter: (value: any) =>
          `${value != 0 ? "-" : ""}${value * this.pollingInterval}s`,
      },
    },
    yaxis: {
      reversed: true,
    },
  };

  public chartOptions_success = {
    chart: {
      zoom: {
        enabled: false,
      },
    },
    dataLabels: {
      enabled: true,
    },
    legend: {
      show: false,
    },
    title: {
      text: "Message Send",
      align: "left",
    },
    grid: {
      row: {
        colors: ["#f3f3f3", "transparent"], // takes an array which will be repeated on columns
        opacity: 0.5,
      },
    },
    xaxis: {
      categories: Array.from(Array(this.dataCount).keys()).reverse(),
      labels: {
        formatter: (value: any) =>
          `${value != 0 ? "-" : ""}${value * this.pollingInterval}s`,
      },
    },
    colors: [
      function ({ value, seriesIndex, w }: any) {
        return value >= 1.0 ? "#B2E39C" : "#E39CB2";
      },
    ],
    yaxis: [
      {
        tickAmount: 1,
        seriesName: "Success",
        title: {
          text: "Success",
        },
      },
      {
        seriesName: "Retries",
        opposite: true,
        title: {
          text: "Retries",
          style: {
            color: "#9CB2E3",
          },
        },
        labels: {
          style: {
            colors: "#9CB2E3",
          },
        },
      },
    ],
  };

  public get seriesData_rssi() {
    return [
      {
        name: "RSSI(Send)",
        data: this.pollingHistory
          .map((ph: PollingHistoryItem) => ph.rssiTx)
          .slice(0, this.dataCount)
          .reverse(),
      },
      {
        name: "RSSI(Recv)",
        data: this.pollingHistory
          .map((ph: PollingHistoryItem) => ph.rssiRx)
          .slice(0, this.dataCount)
          .reverse(),
      },
    ];
  }

  public get seriesData_success() {
    return [
      {
        name: "Success",
        type: "column",
        data: this.pollingHistory
          .map((ph: PollingHistoryItem) => (ph.sent ? 1.0 : 0.1))
          .slice(0, this.dataCount)
          .reverse(),
      },
      {
        name: "Retries",
        type: "line",
        color: "#9CB2E3",
        data: this.pollingHistory
          .map((ph: PollingHistoryItem) => (ph.retries ? ph.retries : 0))
          .slice(0, this.dataCount)
          .reverse(),
      },
    ];
  }
}
</script>
