<template>
  <v-container fluid>
    <v-card elevation="2" class="pa-1"
    :max-width="$vuetify.breakpoint.mdAndDown ? null : 500">
      <v-card-title>
        <span class="font-weight-medium text-h4 text-sm-h2 text-md-h2">Power</span>
      </v-card-title>

      <v-dialog v-model="reboot_dialog" width="500">
        <template v-slot:activator="{ on, attrs }">
          <v-btn text v-bind="attrs" v-on="on"
          class="pa-8 mr-5 text-h5 text-sm-h2 text-md-h4">
            <v-icon class="text-h5 text-sm-h2 text-md-h4">mdi-restart</v-icon> Restart
          </v-btn>
        </template>

        <v-card>
          <v-card-title class="headline blue white--text">
            Are you sure?
          </v-card-title>

          <v-card-text class="mt-3">
            Click Proceed to reboot the gate controller.
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-btn color="secondary" text @click="reboot_dialog = false"
              >cancel</v-btn
            >
            <v-spacer></v-spacer>
            <v-btn color="blue white--text" @click="reboot()">Proceed</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="shutdown_dialog" width="500">
        <template v-slot:activator="{ on, attrs }">
          <v-btn text v-bind="attrs" v-on="on"
          class="red--text pa-8 text-h5 text-sm-h2 text-md-h4">
            <v-icon class="text-h3 text-h5 text-sm-h2 text-md-h4">mdi-power</v-icon> Shutdown
          </v-btn>
        </template>

        <v-card>
          <v-card-title class="headline red lighten-1 white--text">
            Are you sure?
          </v-card-title>

          <v-card-text class="mt-3">
            Click Proceed to shutdown the gate controller. You will need to
            physically disconnect and reconnect the power cord to turn it back
            on.
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-btn color="secondary" text @click="shutdown_dialog = false"
              >cancel</v-btn
            >
            <v-spacer></v-spacer>
            <v-btn color="red white--text" @click="shutdown()">Proceed</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import GateApi from "@/api/api.ts";

@Component({
  components: {},
})
export default class PowerSettingsCard extends Vue {
  private shutdown_dialog: boolean = false;
  private reboot_dialog: boolean = false;
  private gateClient: GateApi = new GateApi();

  private async shutdown() {
    let response = await this.gateClient.metaShutdown();
    this.shutdown_dialog = false;
  }

  private async reboot() {
    let response = await this.gateClient.metaReboot();
    this.reboot_dialog = false;
  }
}
</script>
