<template>
  <v-container fluid>
    <v-card
      elevation="2"
      class="pa-1"
      :max-width="$vuetify.breakpoint.mdAndDown ? null : 500"
    >
      <v-card-title>
        <span class="font-weight-medium text-h4 text-sm-h2 text-md-h2">Profile</span>
      </v-card-title>
      <v-row>
        <v-col cols="12" class="mb-3">
          <v-form @submit.prevent="submit" class="mx-4">
            <div class="px-3">
              <v-text-field
                required
                v-model="newPassword"
                type="password"
                label="New Password"
                @change="
                  show_error = false;
                  error = '';
                "
              >
              </v-text-field>

              <v-text-field
                required
                v-model="newPasswordAgain"
                type="password"
                label="New Password again"
                :error="show_error"
                :error-messages="show_error ? error : ''"
                @change="
                  show_error = false;
                  error = '';
                "
              >
              </v-text-field>

              <v-btn
                type="submit"
                color="primary white--text"
                large
                :x-large="$vuetify.breakpoint.mobile"
                :disabled="!newPasswordAgain || !newPassword"
                >Change Password</v-btn
              >
            </div>
          </v-form>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import GateApi from "@/api/api.ts";

@Component({
  components: {},
})
export default class ProfileSettingsCard extends Vue {
  private gateClient: GateApi = new GateApi();

  private newPassword: string = "";
  private newPasswordAgain: string = "";

  private show_error: boolean = false;
  private error: string = "";

  private async mounted() {}

  private get user() {
    return (this as any).$store.state.loggedInUser;
  }

  private async submit(event: any) {
    if (this.newPassword === this.newPasswordAgain) {
      await this.gateClient
        .changePassword(this.newPassword)
        .then((resp) => {
          this.show_error = false;
          this.error = "";
          this.newPassword = "";
          this.newPasswordAgain = "";
          (this as any).$store.dispatch("logout");
        })
        .catch((err) => {
          this.error = err;
          this.show_error = true;
        });
    } else {
      this.error = "Passwords don't match";
      this.show_error = true;
    }
  }
}
</script>
