<template>
  <v-icon :color="iconColor()"
  >{{icon()}}</v-icon>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import StyleHelpers from '@/helpers/styleHelpers.ts';

@Component
export default class StateIcon extends Vue {
  @Prop({required: true}) readonly state!: string;

  public iconColor(): String {
    return StyleHelpers.stateIconColor(this.state);
  }

  public icon(): String {
    return StyleHelpers.stateIcon(this.state);
  }
}
</script>
