<template>
  <v-container class="pb-0">
    <v-card elevation="2" class="px-1" @click="$emit('on-request-refresh')">
      <v-progress-linear v-if="loading" indeterminate height="10" :color="iconColor()" />
      <v-card-title class="pa-5">
        <v-row>
          <v-col class="d-flex align-center justify-center">
            <StateIcon class="mr-2 mb-1 text-h4 text-md-h3" :state="latestState" />
            <span :class="[textColor()]" class="font-weight-bold text-h4 text-sm-h3">
              {{ stateFormat | uppercase }}
            </span>
          </v-col>
          <div class="d-flex align-center justify-end">
            <v-tooltip left>
              <template v-slot:activator="{ on }">
                <v-icon v-on="on" class="pl-auto text-h4 text-md-h3" :class="[textColor()]">
                  mdi-refresh
                </v-icon>
              </template>
              <span>Request current status</span>
            </v-tooltip>
          </div>
        </v-row>
      </v-card-title>
    </v-card>
  </v-container>
</template>

<style scoped>
.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import StateIcon from "@/components/StateIcon.vue";
import StyleHelpers from "@/helpers/styleHelpers.ts";
import StateHistoryItem from "@/api/StateHistoryItem";
import RequestHistoryItem from "@/api/RequestHistoryItem";

@Component({
  components: {
    StateIcon,
  },
})
export default class StateCard extends Vue {
  @Prop({ required: true }) readonly loading!: boolean;

  public get latestState(): String {
    return (this as any).$store.state.latestState;
  }
  public get stateHistory(): StateHistoryItem[] {
    return (this as any).$store.state.stateHistory;
  }
  public get requestHistory(): RequestHistoryItem[] {
    return (this as any).$store.state.requestHistory;
  }

  public get stateHistoryItem(): StateHistoryItem | null {
    if (!!this.stateHistory && this.stateHistory.length <= 0) {
      return null;
    }
    return this.stateHistory.sort(
      (a, b) =>
        new Date(Date.parse(b.date.toString())).getTime() -
        new Date(Date.parse(a.date.toString())).getTime()
    )[0];
  }

  public get stateFormat(): String {
    return this.latestState;
  }

  public textColor(): String {
    if (!this.latestState) {
      return StyleHelpers.stateTextColor("u");
    }
    return StyleHelpers.stateTextColor(this.latestState);
  }

  public iconColor(): string {
    if (!this.latestState) {
      return StyleHelpers.stateIconColor("u");
    }
    return StyleHelpers.stateIconColor(this.latestState);
  }
}
</script>
