<template>
  <v-container fluid>
    <v-card elevation="2" class="pa-1"
    :max-width="$vuetify.breakpoint.mdAndDown ? null : 500">
      <v-card-title>
        <span class="font-weight-medium text-h4 text-sm-h2 text-md-h2">Users</span>
      </v-card-title>
      <v-row>
        <v-col cols="12">
          <div v-if="users.length > 0">
            <UserItem
              v-for="(user, i) in users"
              :key="i"
              :item="user"
              @deleteUser="deleteUser(user)"
            />
            <AddUser v-if="isAdminRole" @createUser="createUser($event)"/>
          </div>
          <p v-else class="font-italic ml-4">No Users</p>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import UserItem from "@/components/UserItem.vue";
import AddUser from "@/components/AddUser.vue";
import UserModel from "@/api/UserModel.ts";
import GateApi from "@/api/api.ts";

@Component({
  components: {
    UserItem,
    AddUser,
  },
})
export default class UserSettingsCard extends Vue {
  private gateClient: GateApi = new GateApi();

  private async mounted() {
    await (this as any).$store.dispatch("loadUsers", this.gateClient);
  }

  private async createUser(user: UserModel) {
    await this.gateClient.createUser(user);
    await (this as any).$store.dispatch("loadUsers", this.gateClient);
  }

  private async deleteUser(user: UserModel) {
    await this.gateClient.deleteUser(user);
    await (this as any).$store.dispatch("loadUsers", this.gateClient);
  }

  public get users(): UserModel[] {
    let users: UserModel[] = (this as any).$store.state.users;
    users.sort((a, b) => (a.dateCreated > b.dateCreated ? 1 : -1));
    return users;
  }

  private get isAdminRole() {
    return (this as any).$store.getters.isAdminRole;
  }
}
</script>
