<template>
  <v-list-item three-line>
    <v-list-item-icon>
      <v-icon class="text-h3 text-sm-h4 text-md-h4">mdi-account</v-icon>
    </v-list-item-icon>

    <v-list-item-content>
      <v-list-item-title class="text-h4 text-md-h3">{{ name() }}</v-list-item-title>
      <v-list-item-subtitle class="text--primary text-h5 text-md-h4">{{ role() }}</v-list-item-subtitle>

      <v-list-item-subtitle class="text-h6">{{ createdDate() }} - {{ expiration() }}</v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action>
       <v-dialog v-model="show_dialog" width="500">
        <template v-slot:activator="{ on, attrs }">
        <v-btn v-if="isAdminRole" icon :disabled="isLoggedInUser" v-bind="attrs" v-on="on">
          <v-icon color="red darken-3"
          class="text-h3 text-sm-h4 text-md-h4"> mdi-delete </v-icon>
        </v-btn>
        </template>

        <v-card>
          <v-card-title class="headline">
            Delete {{this.item.username}}?
          </v-card-title>

          <v-divider></v-divider>

          <v-card-actions>
            <v-btn color="secondary" text @click="show_dialog = false"
              >cancel</v-btn
            >
            <v-spacer></v-spacer>
            <v-btn color="red white--text" @click="deleteUser()">Delete</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-list-item-action>
  </v-list-item>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import dateformat from "dateformat";
import UserModel from "@/api/UserModel";

@Component
export default class UserItem extends Vue {
  @Prop({ required: true }) public readonly item!: UserModel;

  private show_dialog: boolean = false;

  private name() {
    return this.item.username;
  }

  private role() {
    return this.item.role;
  }

  private expiration() {
    if (this.item.expiration) {
      let date = new Date(this.item.expiration);

      if (new Date() > date) {
        return "Expired";
      }

      let formatedDate = dateformat(
        date,
        "dddd, mmmm, dS, yyyy, h:MM:ss TT",
        false
      );

      return "Expires " + formatedDate;
    }
    return "Never Expires";
  }

  private createdDate() {
    return dateformat(this.item.dateCreated, "mmm dd");
  }

  private get isLoggedInUser() {
    if ((this as any).$store.state.loggedInUser != null) {
      return (this as any).$store.state.loggedInUser.username == this.item.username;
    }
    return false;
  }

  private get isAdminRole() {
    return (this as any).$store.getters.isAdminRole;
  }

  private deleteUser() {
    this.show_dialog = false;
    this.$emit("deleteUser");
  }
}
</script>
