<template>
  <v-app>
    <v-app-bar app dark :height="toolbarHeight" class="nopadd pr-3">
      <v-btn text @click="clickHome" class="white--text py-8 ma-0">
        <v-icon dark right class="ma-3 text-h6 text-sm-h5 text-md-h4 text-lg-h5">mdi-gate</v-icon>
        <span class="text-body-1 text-sm-h5 text-md-h3 text-lg-h5">{{ getPage() }}</span>
      </v-btn>
      <v-spacer></v-spacer>

      <ErrorsDialog></ErrorsDialog>

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-icon v-on="on" class="ma-3 text-h5 text-sm-h4 text-md-h3 text-lg-h5"
            :color="isSocketConnected ? 'green' : 'orange'">
            {{ isSocketConnected ? 'mdi-signal' : 'mdi-signal-off' }}
          </v-icon>
        </template>
        <span>Live Updates {{ isSocketConnected ? 'available' : 'not available' }}</span>
      </v-tooltip>

      <v-menu left bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-icon class="text-h5 text-sm-h4 text-md-h3 text-lg-h5">mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item @click="() => logout()">
            <v-list-item-title class="red--text">Logout</v-list-item-title>
          </v-list-item>

          <v-list-item @click="() => openSettings()">
            <v-list-item-title>Settings</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

    </v-app-bar>

    <v-main>
      <ErrorsPopup></ErrorsPopup>
      <div v-if="isLoggedIn">
        <router-view />
      </div>
      <LoginDialog v-else @loggedin="$router.go()" />
    </v-main>

    <v-footer padless>
      <AppInfoCard>
      </AppInfoCard>
    </v-footer>
  </v-app>
</template>

<style>
.nopadd .v-toolbar__content {
  padding-left: 0px;
  padding-right: 0px;
}
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import LoginDialog from "./components/LoginDialog.vue";
import Cookies from "js-cookie";
import AppInfoCard from '@/components/AppInfoCard.vue';
import ErrorsDialog from "./components/ErrorsDialog.vue";
import ErrorsPopup from "./components/ErrorsPopup.vue";

@Component({
  components: {
    ErrorsDialog,
    ErrorsPopup,
    LoginDialog,
    AppInfoCard,
  },
})
export default class App extends Vue {
  private mounted() {
    let token = Cookies.get("token");
    if (token != null) {
      (this as any).$store.commit("setToken", token);
    }
  }

  private clickHome() {
    (this as any).$router.push({ name: "home"});
  }

  private openSettings() {
    (this as any).$router.push({ name: "settings"});
  }

  private getPage() {
    let str = "Gate Controller";
    if (!!(this as any).$route.name && (this as any).$route.name.toLowerCase() != "home") {
      str = " / " + (this as any).$route.name;
    }
    return str;
  }

  private get toolbarHeight() {
    switch ((this as any).$vuetify.breakpoint.name) {
      case 'xs': return 64;
      case 'sm': return 96;
      case 'md': return 128;
      case 'lg': return 64;
      case 'xl': return 64;
    }
  }

  public get isSocketConnected(): boolean {
    return this.$socket.connected;
  }

  private get isLoggedIn() {
    return (this as any).$store.state.loggedInUser != null;
  }

  private get isUserRole() {
    return (this as any).$store.getters.isUserRole || (this as any).$store.getters.isAdminRole;
  }

  private logout() {
    (this as any).$store.dispatch("logout");
  }
}
</script>
